.table-style {
    min-height: 400px !important;
   
    border-radius: 10px;
}

.table-style::-webkit-scrollbar {
    display: none;
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #5395D2;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0rem !important;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}



.table-container {
    max-height: 100%;
    height: auto;
}