.dashboard-container{
    height: 90vh;
    overflow:scroll;
    background-color: #F0F7FB;
}

.dashboard-container::-webkit-scrollbar { 
    display: none;  
}

.dashboard-card{
    overflow-y: scroll;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dashboard-card::-webkit-scrollbar { 
    display: none;  
}

