.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color:#2C3E50; */
    /* background-color: #4A6FA5; */
    /* background-image: linear-gradient(to right, #132879, #345EE6, #345EE6, #132879); */
    /* background-image: linear-gradient(to right, #0B1A5E, #345EE5, #345EE5, #0B1A5E); */
    background-color: #003d7c;
    height: 10vh;
    box-sizing: border-box;
}

.logo img {
    height: 50px;
}

.header-image img {
    height: 50px;
}

@media (max-width: 1024px) {
    .header {
        padding: 10px 15px;
    }

    .logo img,
    .header-image img {
        height: 45px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }

    .logo img,
    .header-image img {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 5px;
    }

    .logo img,
    .header-image img {
        height: 30px;
    }
}