.swiper {
    width: 57% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 237px !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-container{
    width: 400px;
    height: 300px;
}

.swiper-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.swiper-cards.inactive {
    pointer-events: none;
    opacity: 0.5;
}

.swiper-cards.active {
    pointer-events: auto;
    opacity: 1;
}

.batch-heading{
    font-size: 22px;
}
.batch-bold{
    font-weight: 600;
}

.batch-details-styling{
    opacity: 0.7;
}