.dashboard-container{
    height: 90vh;
    overflow:scroll;
    /* background-color:  #F5F5F5; */
    /* background-image: linear-gradient(to right, #F4F4F5, #F3F1F4, #EEF0F5, #EBF0F5,#F0F0F5); */
    background-color: #F0F7FB;
}

.dashboard-container::-webkit-scrollbar { 
    display: none;  
}

.css-13xfq8m-MuiTabPanel-root{
    padding: 0px 24px !important;
}