label{
    font-size: 20px;
    font-weight: 500;
}

.total_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.first_card_container{
    width: 60vw;
    padding: 40px;
    min-height: 100%;
}

.each_card{
    padding: 5px 20px 20px 40px;
    margin-bottom: 5px;
    background-color: #E7E9EB !important;
}

.custom-outline-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    box-shadow: none; 
    border-bottom: 1px solid #080808; 
    margin-bottom:8px ;
}
.custom-outline-input{
    border: 1px solid black;
}


.button-modify{
    height: 45px;
    background-color: rgb(61, 71, 253);
    width: fit-content; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;
}

.toggle-button{
    border: 0px solid;
    background-color: transparent;
    color: white;
    margin-right: 5px;
}

.each-button{
    border-radius: 0px !important;
}

.star {
    font-size: 44px; 
    margin-bottom: 30px;
}
.radio-button-style{
    border: 1px solid black !important;
    float: left;
    clear: both;
}

.delete-icon{
   display: flex;
   justify-content: end;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   font-size: 18px;
   
}

.form-controls-styling{
    height: 2rem;
    width : 14rem
}
